body {
  background-color: #15171a; // Reemplaza el valor con el color de fondo deseado
}
.content span {
  color: green; /* Reemplaza "red" con el color deseado */
}
strong {
  font-weight: bold;
  color: green; /* Cambia "green" por el color deseado */
}








