blockquote {
  blockquote-color: green; /* Reemplaza el valor con el color deseado */
  color: #000000; /* Reemplaza el valor con el color deseado para el texto */
  border-left: 4px solid #33C7DE; /* Reemplaza el valor con el color deseado para el borde izquierdo */
  padding: 10px; /* Ajusta el espaciado interno según sea necesario */
}
