---
layout: tags
title: Etiquetas
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}

  <table class="table-tags">
    <thead class="thead-dark">
      <tr>
        <th>Etiqueta</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      {% for tag in site.tags %}
      <tr>
        <td>
          <a href="{{ '/tags/' | relative_url }}{{ tag[0] | slugify }}">{{ tag[0] }}</a>
          <ul>
            {% for post in tag[1] %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </td>
        <td>{{ tag[1] | size }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Incluye otros scripts o estilos personalizados si es necesario -->

</body>

</html>
